@charset "UTF-8"

/*
em HTML é id    = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: rgb(94, 201, 90);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1D472B;
}

h1#principal {
    text-align: center;
    background-color: #2E7044;
    color: white;
}

h2 {
    color: #4FC276;
}

.basico {
    color: #4FC276;
}

.intermediario {
    color: #80793c;
}

.avancado {
    color: #803c3c;
}

.destaque {
    background-color: #e6e640;
}