@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #9FC131, #DBF227);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(73, 87, 30, 0.89);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #042940;
    text-align: center;
    text-shadow: 1px 1px 2 px rgba(4, 45, 68, 0.76);
}

h2 {
    color: #005C53;
}
p {
    text-align: justify;
}